.navbar{
  background: $primary;
/*   background: linear-gradient(180deg, rgba(53,47,109,1) 55%, rgba(32,28,70,1) 97%);
 */  &_container {
    .navbar-brand {
      padding: 10px;
      border-radius: 10px;
      .text_icon {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.54);
        &_letter {
          animation: light 0.7s ease-in-out 4;
        }
      }
    }
    
  }
}
.navbar-toggler-icon{
  background-color:  #fff !important;
}

.logout-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  .bi-box-arrow-right{
    font-size: 20px;
  }
}

.items_menu {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $primary-pink;
    border-radius: 10px;
  }
}
.menu_active {
  border-bottom: 2px solid $primary-pink;
}

.input_custom_container   {
  border: 2px solid map-get($custom-colors, "light-primary");
  transition: all 0.2s ease-in-out;
  &:focus-within {
    border: 2px solid white; 
  }

  .input_custom  {
    &:focus {
      outline: none;
    }
  }
}

@keyframes light {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
    color: #fff;
  }
  25% {
    text-shadow: 0 0 5px #fff, 0 0 7px #fff;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }
  75% {
    text-shadow: none;
    color: #ffffff93;
  }
  85% {
    text-shadow: 0 0 5px #fff, 0 0 7px #fff;
  }
  90% {
    text-shadow: none;
    color: #ffffff93;
  }
  100% {
    text-shadow: 0 0 8px #fff, 0 0 12px #fff;
  }
}
