.products{
  /* background-color:#141F31; */
  background: rgb(20,31,49);
  background: linear-gradient(180deg, rgba(20,31,49,1) 59%, rgba(59,25,135,1) 99%);
  min-height:  90vh;
  &_container{
    .card_container{
      &_card{
        height: 350px;
        .text-description{
          font-size: 14px;
        }
        .card-carrousel{
          height: 50%;
        }
      }
    }
  }
}

.card-img-top {
  height: 50%;
  object-fit: cover;
  border-bottom: 1px solid #ffffff25;
}
.card-img-top .carousel {
  height: 100%;
  object-fit: contain;
  border-bottom: 1px solid #ffffff25;
}